include .gitattributes
include .gitignore
include 0001-Modifications-for-pygems-pseudodata.patch
include CMakeLists.txt
include LICENSE
include README.md
include __init__.py
include cmake/FindNetCDF.cmake
include crtm_io.py
include make_it_so.sh
include make_it_so_discover.bash
include pyCRTM.py
include pycrtm.f90
include pycrtm_/__init__.py
include pyproject.toml
include setup.cfg
include setup.py
include testCases/data/case1.h5
include testCases/data/case2.h5
include testCases/data/case3.h5
include testCases/data/case4.h5
include testCases/test_atms.ipynb
include testCases/test_atms.py
include testCases/test_atms_jacobian.py
include testCases/test_atms_no_clouds.py
include testCases/test_atms_subset.py
include testCases/test_atms_subset_cloudnames.py
include testCases/test_atms_threads.py
include testCases/test_cloudsat.py
include testCases/test_cloudsat_jacobian.py
include testCases/test_cris.py
include testCases/test_cris_jacobian.py
include testCases/test_cris_no_clouds.py
include testCases/test_cris_subset.py
include testCases/test_cris_threads.py
exclude MANIFEST.in